<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default" connectionString="data source=someotherserver;initial catalog=CUDCESB;integrated security=SSPI;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="FileShareDataBus" value="\\file\NSB\drop"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>
